.teamContent {
  
}
.customersPara {
  font-size: 28px;
  font-weight: 300;
  color: #3e3e3e;
  margin:70px 0 70px;
  line-height: 50px;
}
.customersPara1 {
  font-size: 28px;
  font-weight: 300;
  color: #3e3e3e;
  margin:70px 0 0px;
  line-height: 50px;
}
.teamContent p span {
  font-weight: 500;
  display: block;
}
.additionalspace{
  margin: 40px 0!important;
}


.Customers{

}
.FontWieght{
  font-weight: 700;
}


@media only screen and (max-width: 1024px) {
  .teamContent {
    padding: 0 40px !important;
  }
  .customersPara {
    margin: 0px 0 100px !important;
  }
}
@media only screen and (max-width: 767px) {
  .teamContent p {
    font-size: 22px;
    line-height: 40px;
  }
}
