.OurClients_Slide_Title {
  font-size: 35px;
  font-weight: 600;
  line-height: 44px;
  padding-block: 0px;
}
.OurClients_Slide_Image {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  
 flex:1;
  object-fit: contain;
}
.OurClients_Slide_Content{
  flex: 1;
}

.OurClients_Slide:hover .OurClients_Slide_Image {
  filter: grayscale(0%) !important;
}

.cartAnimation {
  margin: -390px 0 0 -320px;
}

.cartAnimation img {
  width: 350px;
}

.OurClients_Slide_Media_Video {
  width: 150px;
}

.OurClients_Slide_Media_Video img {
  width: 150px;
  
}

@media (max-width:768px) {

  .rating_image {
    margin-inline: auto;
    display: block;
    margin-bottom: 25px;
    object-fit: cover;
  }
  .OurClients_Card_Two_Content{
    margin-bottom: 20px;
    text-align: center;
  }
  .mobile-mt{
    margin-top: 8rem !important;
  }
}